* {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
  }
 
  .a {
    grid-area: a;
    background-color: red;
  }

  .b {
    grid-area: b;
    background-color: red;
  }

  .c {
    grid-area: c;
    background-color: red;
  }

  .d {
    grid-area: d;
    background-color: whitesmoke;
  }
  
  .e {
    grid-area: e;
    background-color: whitesmoke;
  }

  .f {
    grid-area: f;
    background-color: whitesmoke;
  }

  .g {
    grid-area: g;
    background-color: blue;
    color: whitesmoke;
  }

  .h {
    grid-area: h;
    background-color: blue;
    color: whitesmoke;
  }

  .i {
    grid-area: i;
    background-color: blue;
    color: whitesmoke;
  }
  
  @media (min-width: 800px) {
    .a {
      background-color: pink;
    }

    .b {
      background-color: skyblue;
    }

    .c {
      background-color: lime;
    }

    .d {
      background-color: lime;
    }

    .e,.f,.g,.h {
      background-color: purple;
      color: black;
    }

    .i {
      background-color: yellow;
      color: black;
    }
  }
