  .container {
    margin: 0 auto;
    max-width: 480px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "a a"
      "b b"
      "c c"
      "d d"
      "e f"
      "g h"
      "i i";
  }
  
  .a {
    height: 75px;
    line-height: 75px;
  }

  .b {
    height: 150px;
    line-height: 150px;
  }

  .c {
    height: 125px;
    line-height: 125px;
  }

  .d {
    height: 125px;
    line-height: 125px;
  }

  .e,.f,.g,.h {
    height: 250px;
    line-height: 250px;
  }

  .i {
    height: 80px;
    line-height: 80px;
  }

  @media (min-width: 960px) {
    .container {
      max-width: 960px;
      grid-template-columns: 200px 190px 190px 190px 190px;
      grid-template-rows: auto;
      grid-template-areas:
      "a a a a a"
      "b c c d d"
      "b e f g h"
      "b i i i i"
      ;
    }

    .a {
      min-height: 100px;
      line-height: 100px;
    }

    .b {
      min-height: 600px;
      line-height: 600px;
    }

    .c,.d {
      min-height: 200px;
      line-height: 200px;
    }

    .e,.f,.g,.h {
      min-height: 250px;
      line-height: 250px;
    }
    
    .i {
      min-height: 150px;
      line-height: 150px;
    }
  }